# Virtual Environment
venv/
*.venv
env/

# Python cache
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/

# Environment variables file
.env



# Other
.DS_Store

instance/nuzum_local.db!static/uploads/**
