modules = ["python-3.11", "python3", "postgresql-16", "nodejs-20"]

[nix]
channel = "stable-24_05"
packages = ["cacert", "cairo", "fontconfig", "freefont_ttf", "freetype", "gdk-pixbuf", "ghostscript", "glib", "glibcLocales", "harfbuzz", "lcms2", "libaom", "libde265", "libffi", "libheif", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "nasm", "openjpeg", "pango", "pkg-config", "tcl", "tk", "x265", "zlib"]

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000",   "--timeout", "600",
 "main:app"]

[workflows]
runButton = "Start application"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --timeout 600 --reuse-port --reload main:app"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34289
externalPort = 4200

[[ports]]
localPort = 35913
externalPort = 3002

[[ports]]
localPort = 36735
externalPort = 3001

[[ports]]
localPort = 39567
externalPort = 3003

[[ports]]
localPort = 40487
externalPort = 3000

[agent]
integrations = ["python_sendgrid==1.0.0", "python_openai==1.0.0"]
